html, body {
	margin: 0;
	padding: 0;

	font-size: 16px;
	font-family: var(sans-serif);
	color: #eee;

	background-color: #1d1c25;

	user-select: none;
}

canvas {
	display: block;
}

h3,
h4,
h5 {
	font-family: var(sans-serif);
	letter-spacing: 2px;
	filter: drop-shadow(0 0 5px #fff6);
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

input[type="range"] {
	width: 100%;
}

.sidebar {
	position: absolute;

	overflow: auto;
	top: 30px;
	bottom: 30px;
	width: 270px;

	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;

	background-color: rgba(0, 0, 0, 0.4);
}

#description {
	left: 30px;

}

#properties {
	right: 30px;
}
